/* Leaflet Popup Base Styles */
.leaflet-container a.leaflet-popup-close-button {
  padding: 8px !important;
  color: #4B5563 !important;
  transition: color 0.2s ease !important;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #1F2937 !important;
}
